#topbar
{
background-color:blue;
height:30px;
width:100%
}
body{
  background-color:#9d80ff;
  height:30px;
  width:100%
}
#main_header{
 background-color:white;
 height:100px
}
h1 {
  color: darkblue;
  text-align: center;
}
h4{
 color: white;
 text-align:center;
}
h2{
 color: white;
}
h3{
 color: white;
}
p {
  font-family: verdana;
  font-size: 20px;
}
a{
 color: white;
}
#main_header img{
height:80;
}
#main_header ul li a{
color:red;
}
#header_body ul{
float:right;
margin-top:40px;
}
#header_body ul li{
display:inline;
text-align:center;
margin-right:40px;
}
ul li a{
font-size:25px;
text-decoration:none;
}
#content1{
width:30%;
height:350px;
background-color:red;
float:left
}
#content3{
width:30%;
height:350px;
background-color:green;
float:right
}
#banner {
padding-bottom:20px;
}
















